[submodule "openising/openising"]
	path = openising/openising
	url = https://github.com/KULeuven-MICAS/openising.git
[submodule "openising/lagd-im"]
	path = openising/lagd-im
	url = https://github.com/KULeuven-MICAS/lagd-im.git
